body{
    background-color:darkorchid;
    color: floralwhite;
}

#camera{
    width : 300px;
    height: 300px;
    border:2px dashed white;
    
}

#capture_img,#identify_img{
    background-color: yellow;
    color:black;
}